.projects-page-wrapper {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2%;
}

.project__block {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 3%;
    max-width: 30%;
    width: 100%;
    text-align: left;
    transition: transform 0.2s, box-shadow 0.2s;
    cursor: pointer;
}

.project__block:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.project__block-title {
    font-size: 3rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
    text-align: center;
}

.project__block-date {
    font-size: 1.4rem;
    color: #555;
    margin: 5px 0;
    line-height: 1.5;
}
